* {
  font-family: IRANSans;
  color: $main-color;
}
body {
  background-color: $bg-body;
  font-size: 12px;
  direction: rtl;
  text-align: right;
}
.text-dark {
  color: $lightBlue-900 !important;
}
