* {
  font-family: IRANSans;
  color: $main-color;
}
body {
  background-color: $bg-body;
  font-size: 12px;
  direction: rtl;
  text-align: right;
}
.text-dark {
  color: $lightBlue-900 !important;
}
.direction-ltr {
  direction: ltr;
}
a,
a:hover {
  text-decoration: none;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-120 {
  margin-bottom: 120px;
}

.text-md-none {
  @include bp-md {
    text-indent: -9999999px;
  }
}
.faNum {
  font-family: FaNum;
}
.pt-md-100 {
  @include bp-md {
    padding-top: 100px !important;
  }
}

h4 {
  font-size: 1rem;

  @include bp-lg {
    font-size: 1.2rem;
  }
  @include bp-xl {
    font-size: 1.3rem;
  }
}
