* {
  font-family: IRANSans;
  color: $main-color;
}
body {
  background-color: $bg-body;
  font-size: 12px;
  direction: rtl;
  text-align: right;
}
.text-dark {
  color: $lightBlue-900 !important;
}
a,
a:hover {
  text-decoration: none;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-120 {
  margin-bottom: 120px;
}
