.mobile-menu {
  right: 0;
  top: 0;
  width: 62%;
  height: 100%;
  position: fixed;
  z-index: 99999999999;
  background: rgba(0, 0, 18, 0.7);
  box-shadow: -10px 0 15px rgba(0, 0, 18, 0.4);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;

  * {
    outline: none;
    border: none;
  }

  &.open-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .menu-box {
    list-style-type: none;
    padding: 0;

    li {
      margin: 20px 0;
    }

    .menu {
      color: #fff;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #fdfdfd;
      transition: 0.3s ease-in-out;
    }

    .menu-active {
      border-bottom: 1px solid $cyan-a700;
      color: $cyan-a700;
    }

    button {
      outline: none;
    }
  }
}

// NOTE this class only for css that we won't to close by click
.menu-dont-close {
  content: "";
}

.mobile-menu-dropdown {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: right;
  transition: 0.3s ease-in-out;

  .iconBx {
    transition: 0.3s ease-in-out;
    width: 15px;

    svg {
      path {
        transition: 0.3s ease-in-out;
      }
    }
  }

  &.active {
    span {
      color: $cyan-a700;
    }

    .iconBx {
      transform: rotate(-90deg);

      svg {
        path {
          fill: $cyan-a700;
        }
      }
    }
  }
}
.mobile-menu-dropdown-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  padding: 0 15px;

  a {
    color: #fff;
    margin: 5px 0;
  }
}
