nav.main-navigation {
  position: absolute;
  width: 100%;
  z-index: 99;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
    display: flex;
    align-items: center;
    height: 60px;
    overflow: visible;
    z-index: 99;
  }

  li {
    display: block;
    position: relative;
    // background: transparent;
    height: 100%;
    min-width: 80px;

    &:hover {
      & > ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        z-index: 99;
      }

      a {
        background: $lightBlue-900-dark;
      }

      li {
        a:hover {
          background: $lightBlue-900;
        }
      }

      .main-navigation li ul li {
        border-top: 0;
      }
    }

    ul {
      display: none;
      width: auto;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      font-size: 14px;

      &:hover {
        background: $lightBlue-900;
      }
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}
nav.main-navigation ul ul ul {
  right: 100%;
  top: 0;
}

nav.otherPathNav {
  background-color: $lightBlue-900-dark;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.link-active {
  color: $cyan-a200 !important;
}
