footer {
  background-image: linear-gradient(135deg, #093170, #3378af);
}
.sub-to-news {
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.footer-link-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}
.footer-items:not(ul) {
  padding-right: 30px;
}
.footer-items {
  @include bp-md {
    font-size: 14px;
    line-height: 2.5;
  }
}
.footer-contact-text {
  direction: ltr;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    outline: none;
    border: none;
  }
}
.input-caption {
  position: relative;
  text-align: center;

  @include bp-md {
    position: absolute;
    top: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
  }
}
.footer-contact-box {
  line-height: 1.5;
  @include bp-md {
    margin-top: 25px;
  }
}
