.custom-shape-divider-bottom1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  // transform: rotateY(180deg);
}

.custom-shape-divider-bottom1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  text-shadow: 1px 1px 1px #000;
}

.custom-shape-divider-bottom1 .shape-fill {
  fill: $bg-body;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom1 svg {
    width: calc(100% + 1.3px);
    height: 78px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom1 svg {
    width: calc(100% + 250px);
    height: 38px;
  }
}
